@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Reset styles for all child elements of elements with the 'markdown' class.
** This is to permit markdown to render and remove tailwindcss overriding it.  '
*/
.markdown > * {
    all: revert;
}